
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~fontawesome-pro-webfonts/scss/fontawesome';

nav.navbar {
    background: #f5f8fa;
    color: #333;

  a {
    color: #333;
  }
    .navbar-brand {
      img {
        height: auto;
        width: 60px;
      }
    }
  }


